# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Databases
*.db
*.sqlite3

# Environments & IDEs
.env
.venv
env/
venv/
.vscode/
.idea/
.pytest_cache/

# Testing & Logs
*.log
